<ul class="nav nav-tabs">
  <li>
  	<a href="/searches/new">Search</a>
  </li>
  <li class="active">
    <a href="#">My Searches</a>
  </li>
  <li>
  	<a href="/favorites">My Favorites</a>
  </li>
</ul>

<table class="table table-striped">

	<tr>
		<th>Date</th>
		<th>State</th>
		<th>County</th>
		<th>City</th>
		<th>Max Price</th>
		<th>Min Price</th>		
		<th>Min Square Feet</th>
		<th>Max Taxes</th>
	</tr>

	<% @user_searches.each do |search| %>

	<tr>
		<td><%=search.created_at.to_date%></td>
		<td><%=search.state_name%></td>
		<td><%=search.county_name%></td>
		<td><%=search.city_name%></td>
		<td>$<%=search.max_price%></td>
		<td>$<%=search.min_price%></td>		
		<td><%=search.min_sq_ft%></td>
		<td>$<%=search.max_taxes%></td>
	</tr>

	<% end %> 

 	
</table>



