
<h3>My Dream Home</h3>

<% if notice %>
  <div class="alert alert-block">
    <strong>Uh oh!</strong>
    <ul>
      <% notice.gsub(/and/,"").split(",").each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @search, :validate => true do |f| %>
  <div class="field">
    <%= f.label :state %>
    <%= f.collection_select( :state_id, State.all.uniq, :id, :name, {:include_blank => true}) %>
  </div>
  <div class="field">
    <%= f.label :county %>

    <%= f.grouped_collection_select :county_id, State.order(:name), :counties, :name, :id, :name, include_blank: true %>

  </div>
  <div class="field">
    <%= f.label :city %>
   
   <%= f.grouped_collection_select :city_code, County.order(:name), :cities, :name, :city_code, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :min_price_id, "Price Range" %>
    $ <%= f.text_field :min_price, size: 10, :placeholder => 'ex 150000' %> -
    $ <%= f.text_field :max_price, size: 10, :placeholder => 'ex 250000' %>
  </div>
  <div class="field">
    <%= f.label :min_price_id, "Minimum Square Feet" %>
    <%= f.text_field :min_sq_ft, size: 10, :placeholder => 'ex 1900' %>
  </div>  
  <div class="field">
    <%= f.label :min_price_id, "Maximum Annual Tax" %>
   $ <%= f.text_field :max_taxes, size: 10, :placeholder => 'ex 9000' %>
  </div> 
  </br> 
  <div class="actions"><%= f.submit "Search" %></div>
  <%= puts params %>
<% end %>


