<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Results</a>
  </li>
  <li>
  	<a href="/searches">My Searches</a>
  </li>
  <li>
  	<a href="/favorites">My Favorites</a>
  </li>
</ul>

<button class="btn"><%= link_to "New Search", new_search_path %></button>
</br>
</br>

<h3 id="properties-count"><%= "We found #{@search.assessments.size} homes for you!"%></h3>
	
<table class="table table-striped">

	<tr>
		<th>State</th>
		<th>City</th>
		<th>Property Location</th>
		<th>Square Feet</th>
		<th><%= "#{Time.now.year - 1} Taxes"%></th>		
		<th>Net Taxable Value</th>
	</tr>

	<% @search.assessments.each do |property| %>

	<tr>
		<td><%=property.county_name%></td>
		<td><%=property.city_name%></td>
		<td><%=property.property_location%></td>
		<td><%=property.square_feet%></td>
		<td>$<%=property.taxes_one.to_i%></td>		
		<td>$<%=property.assessed.to_i%></td>
	</tr>

	<% end %> 

 	
</table>

